<!DOCTYPE html>

<html lang="en">
<head>
  
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

	<title>Trend | Responsive Multipurpose Bootstrap Theme</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

	<!-- Styles -->
	<link rel="stylesheet" href="js/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="js/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="js/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" href="js/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="js/flexslider/flexslider.css">
	<link rel="stylesheet" href="js/isotope/isotope.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="js/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="css/icomoon/style.css" type="text/css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

	<!-- SKIN -->
	<link rel="stylesheet" href="css/color-scheme/default-blue.css" type="text/css">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>      
	<![endif]-->

</head>
<body class="bg-pattern10 active">
<div class="outer-wrapper boxed">

	<!-- HEADER -->
	<header id="header-main">
		<div class="container">
			<div class="navbar yamm navbar-default">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand"><img src="images/basic/logo.png" width="40" alt=""/></a>
				</div>

				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown yamm-fw">
							<a href="index.html">
								Home 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
						</li>
                        <li class="dropdown">
                                <a href="service.html">
                                    サービス
                                    <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                                </a>
                        </li>
                        <li class="dropdown yamm-fw">
                            <a href="about.html">
                                会社情報
                                <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                            </a>
                        </li>
                        <li class="dropdown">
                                <a href="news.html">
                                    お知らせ
                                    <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                                </a>
                        </li>
                        <li class="dropdown">
                                <a href="#">
                                    フリー 
                                    <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                                </a>
                        </li>
                        <li class="dropdown">
                                <a href="contact.html">
                                    お問い合わせ 
                                    <div class="arrow-up"><i class="fa fa-angle-down"></i></div>
                                </a>
                        </li>
				  </ul>
				</div>
			</div>
		</div>
	</header>

	<!-- SLIDER  -->
	<div class="slider-wrap">
		<div class="tp-banner-container">
			<div class="tp-banner1" >
				<ul>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="" data-delay="10000"  data-saveperformance="off"  data-title="Our Workplace">
						<img src="images/slider/2/1.jpg"  alt="kenburns1"  data-bgposition="left center" data-kenburns="off" data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
						<div class="caption rev-left rev-thin-title sft" data-x="0" data-y="150" data-speed="900" data-start="700" data-easing="easeOutExpo" style="font-size:30px;
							color: #000;
							text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
							font-weight: 700;
							letter-spacing:2px;
							">キャッチ</div>
						<div class="caption rev-left rev-thin-title sft" data-x="0" data-y="185" data-speed="900" data-start="1000" data-easing="easeOutExpo" style="font-size:30px;
							color: #000;
							text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
							font-weight: 700;
							letter-spacing:2px;
							">キャッチキャッチ</div>
						<div class="caption rev-left rev-bold-title sfl" data-x="0" data-y="210" data-speed="900" data-start="1300" data-easing="easeOutExpo" style="    font-size: 58px;
							color: #FFF;
							text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
							font-weight: 700;
							">Kaleidoscope Media Service</div>
						
						<div class="caption sfl" data-x="500" data-y="0" data-speed="900" data-start="2000" data-easing="easeOutExpo"><img src="images/slider/2/man.png" alt="Image 5"></div>
					</li>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
						<!-- MAIN IMAGE -->
						<img src="images/dummy.png"  alt="2" data-lazyload="images/slider/2/2.jpg" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
						<!-- LAYERS -->
						<div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="190" data-hoffset="0" data-x="center"
							style="    color: #fff;
							text-transform: uppercase;
							font-size: 55px;
							letter-spacing: 6px;
							font-family: Montserrat;
							font-weight: 400;
							background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
							padding:10px 30px;
							"
							>
							Kaleidoscope Media Service
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="300" data-hoffset="0" data-x="center"
							style="    color: #fff;
							font-size: 15px;
							text-transform: uppercase;
							letter-spacing: 10px;
							font-weight:700;
							"
							>
							キャッチ的なテキストが入ります
						</div>
					</li>
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
	</div>

	<!-- INNER CONTENT -->
	<div class="inner-content no-padding">
		<div class="container">
			<div class="space60"></div>
			<div class="welcome-content text-center">
				<h2>SERVICE</h2>
				<p class="lead">インターネット広告や紙媒体モバイル端末向けの媒体、販促ツールなどを含め、広告にまつわるデザイン制作も請負い、プロモーションの全てを引き受け案件進行を行っております。</p>
			</div>
		</div>
		<div class="container">
			<div class="service-home col-md-12 text-center">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-support"></i>
					</a>
					<div class="clearfix"></div>
					<h4>デザイン企画、制作</h4>
					<p>サービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入ります</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-support"></i>
					</a>
					<div class="clearfix"></div>
					<h4>デザイン企画、制作</h4>
					<p>サービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入ります</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-support"></i>
					</a>
					<div class="clearfix"></div>
					<h4>デザイン企画、制作</h4>
					<p>サービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入りますサービスの簡易説明テキスト等入ります</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="parallax-bg3 padding70">
		<div class="container home-testimonials ">
			<div class="text-center space70">
				<h2 class="white uppercase">NEWS</h2>
			</div>
			<div id="home-quote" class="owl-carousel owl-theme">
				<div class="item">
					<div class="hq-info">
						<p>お知らせ、プレスリリース、メディア掲載etcが入りますお知らせ、プレスリリース、メディア掲載etcが入ります</p>
						<img src="images/quote/thumb/1.png" alt="">
						<span><strong>プレスリリース</strong>2015.11.11</span>
					</div>
				</div>
				<div class="item">
					<div class="hq-info">
						<p>お知らせ、プレスリリース、メディア掲載etcが入りますお知らせ、プレスリリース、メディア掲載etcが入ります</p>
						<img src="images/quote/thumb/1.png" alt="">
						<span><strong>プレスリリース</strong>2015.11.11</span>
					</div>
				</div>
				<div class="item">
					<div class="hq-info">
						<p>お知らせ、プレスリリース、メディア掲載etcが入りますお知らせ、プレスリリース、メディア掲載etcが入ります</p>
						<img src="images/quote/thumb/1.png" alt="">
						<span><strong>プレスリリース</strong>2015.11.11</span>
					</div>
				</div>
				</div>
			</div>
		</div>

	<!-- FOOTER -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h4 class="space30">About us</h4>
			    <img src="images/basic/logo-ico.png" class="img-responsive space20" width="70" alt=""/>
					<p>株式会社KMSのホームページにアクセス頂きありがとうございます。</p>
                     <p>当社は広告代理業務を行う、メディアプランナー企業です。<br>
                            私達は、インターネットというフィールドをフル活用し、 ”より便利な社会を創造したい” という思いを実行するために、サービスを企画し、会社全体で取り組んで行く事で、 弊社に関わる全ての方に必要とされるような会社を目指しています。
                            社員一同、全力を尽くして取り組みますので今後ともご一層のご支援ご鞭撻くださいますよう、どうぞよろしくお願い致します。</p>
				</div>
				<div class="col-md-3">
					<h4 class="space30">Company</h4>
			  <ul class="c-info">
						<li><i class="fa fa-map-marker"></i> 〒160-0004<br>東京都新宿区四谷4-3-3 FUKUYAビル2F-A</li>
						<li><i class="fa fa-phone"></i> 03-6380-6577</li>
						<li><i class="fa fa-envelope-o"></i> info@kms3.com</li>
					</ul>
					<div class="clearfix space10"></div>
				</div>
			</div>
		</div>
	</footer>

	<!-- FOOTER COPYRIGHT -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>&copy; KMS inc. All Rights Reserved.</p>
				</div>
				<div class="col-md-4">
					<div class="f-social pull-right">
						<a class="fa fa-twitter" href="#"></a>
						<a class="fa fa-facebook" href="#"></a>
						<a class="fa fa-linkedin" href="#"></a>
						<a class="fa fa-dribbble" href="#"></a>
						<a class="fa fa-google-plus" href="#"></a>
						<a class="fa fa-skype" href="#"></a>
						<a class="fa fa-behance" href="#"></a>
						<a class="fa fa-stumbleupon" href="#"></a>
						<a class="fa fa-rss" href="#"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- STYLE SWITCHER 
============================================= -->
<!-- END STYLE SWITCHER 
============================================= -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Plugins -->
<script src="js/bootstrap.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/owl-carousel/owl.carousel.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/isotope/isotope.pkgd.js"></script>
<script src="js/jflickrfeed.min.js"></script>
<script src="js/tweecool.js"></script>
<script src="js/flexslider/jquery.flexslider.js"></script>
<script src="js/easypie/jquery.easypiechart.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.inview.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>



<script src="js/main.js"></script>
 
</body>
</html>

